<html>
<head>
  <title> NegoDev.TK | Full Stack Developer </title>
  <meta name="theme-color" content="#1E2023" />
  <meta name="og:site" content="NegoDev.TK" />
  <meta name="og:url" content="NegoDev.TK" />
  <meta name="og:color" content="#1E2023" />
  <link rel="stylesheet" href="./assets/css/nego.css?v=12434655" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">


  
  </head>
  <body>
    <br>
    <br>
    
          <div class="flex flex-wrap justify-around my-4 nego-black">
            <div class="m-2">
              <div class="component flex max-w-sm">
                <div class="bg-gray-100 shadow-sm rounded-lg">
                  <div class="bg-cover p-8 rounded-t-lg" style="background-image: url(&quot;https://images.unsplash.com/photo-1556139954-ec19cce61d61?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80&quot;);">
                    <div class="font-semibold text-gray-100 text-lg tracking-wide"></div>
                    <div class="font-black text-gray-100 text-2xl tracking-wide mb-10"></div>
                  </div>
                  <div class="px-8 py-6 relative nego-black">
                    <div class="absolute top-0 left-0 ml-8 transform -translate-y-1/2 h-20 w-20 bg-cover rounded-full border-2 border-gray-500" style="background-image: url(&quot;https://cdn.discordapp.com/avatars/682607343707488388/a_c6633ba82ef57f9908f65fe8bf546928.gif&quot;);"></div>
                    <div class="mt-10 text-sm"><span class="text-gray-500 font-semibold">Nego#0001</span></div>
                    <div class="mt-6">
                      <div class="uppercase font-bold text-gray-600">
                        Sahipi Olduğum Botlar
<br>
                      Greedy
                        <br>
                      Greesy : 
                        <br>
                        https://greesy.negodev.tk
<br>
                      Nego API :
                        <br>
                      https://api.negodev.tk
                      
                      </div>
                     </div>
                    <div class="mt-6 text-gray-500 text-sm"><i class="fab fa-github"></i> <a href="/discord">Discord</a>  <i class="fab fa-discord"></i> <a href="/github">Github</a></div>
                  </div>
                 <!-- <div><button class="w-full border border-transparent rounded-b-lg font-semibold tracking-wide px-5 py-4 focus:outline-none focus:shadow-outline bg-indigo-500 text-gray-100 hover:bg-indigo-600 hover:text-gray-200">Use Coupon Code</button></div>
                </div>-->
              </div>
            </div>
            
    <br>
              <br>
              <footer class="footer">
              <p class="text-gray-700">Copyright &copy; By Nego(kardespro)</p>
              </footer>
    </body>
</html>