<html>
<head>
  <title> NegoDev.TK | Full Stack Developer </title>
  <meta name="theme-color" content="#1E2023" />
  <meta name="og:site" content="NegoDev.TK" />
  <meta name="og:url" content="NegoDev.TK" />
  <meta name="og:color" content="#1E2023" />
  <link rel="stylesheet" href="./assets/css/nego.css?v=12434655" />
  
  </head>
  <body>
    
    
    </body>
</html>